link(rel="stylesheet", href="/stylesheets/libraries/bootstrap.min.css")
link(rel="stylesheet", href="/stylesheets/libraries/animated.min.css")
link(
  href="https://fonts.googleapis.com/css2?family=Overpass&family=Rubik:wght@100;300;400;500&family=Asap&display=swap",
  rel="stylesheet"
)
link(rel="stylesheet", href="/stylesheets/libraries/iziToast.min.css")
link(rel="stylesheet", href="/stylesheets/fontawesome.css") 
link(
  rel="stylesheet",
  href="/stylesheets/autocomplete/easy-autocomplete.min.css"
)
link(rel="stylesheet", href="/stylesheets/libraries/select2.min.css")
link(rel="stylesheet", href="/stylesheets/libraries/select2.css")
link(
  rel="stylesheet",
  href="/stylesheets/libraries/select2-bootstrap4.min.css"
)
link(rel="stylesheet", href="/stylesheets/libraries/daterangepicker.css")
link(rel="stylesheet", href="/stylesheets/jsonHuman.css")
link(rel="stylesheet", href="/stylesheets/style.css")
link(rel="stylesheet", href="/stylesheets/tooltip.css")
link(rel="stylesheet", href="/stylesheets/multitab.css")
link(rel="stylesheet", href="/stylesheets/libraries/datatables.min.css")
link(rel="stylesheet", href="/stylesheets/datatable.css")
link(
  rel="stylesheet",
  media="screen, print",
  href="/stylesheets/sweetalert2.bundle.css"
)
link(
  rel="stylesheet",
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
)
link(
  rel="stylesheet",
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
)
